/* Cosas */
body{
	max-width: 100vw;
	overflow-x: hidden;
}

.btn-custom{
	background-color: rgb(35, 31, 32);
    color: #fff;
    border-radius: 0;
    font-weight: 500;
    padding: 1vh 2vw;
    font-size: 2vw;
    display: inline-block;
    transition: .3s ease;
}
.btn-custom:hover{
	background-color: #353535;
	transition: .3s ease;
}
.btn-custom-btn{
	cursor: pointer;
	background-color: rgb(35, 31, 32);
	border: 0;
    color: #fff;
    border-radius: 0;
    font-weight: 500;
    padding: 1vh 2vw;
    font-size: 2vw;
    display: inline-block;
    transition: .3s ease;
}
.btn-custom-btn:hover{
	background-color: #353535;
	transition: .3s ease;
}

.section-divider{
	width: 80vw;
	height: 0.2vh;
	margin: auto;
	background: rgb(35, 31, 32);
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 40px;
    height: 40px;
    border: rgb(35, 31, 32) 2px solid;
    background-color: #fff;
    z-index: 0;
    border-radius: 50%;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    top: 0px;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(35, 31, 32);
    background-color: #fff;
    border-radius: 50%;
    z-index: 0;
}
[type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 5px;
    left: 9px;
    width: 10px;
    height: 20px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid rgb(35, 31, 32);
    border-bottom: 2px solid rgb(35, 31, 32);
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

/*==========================*/
/* TEMPLATE HEADER & FOOTER */
/*==========================*/
nav{
	background: #fff;
	text-align: center;
	line-height: inherit;
	-webkit-box-shadow: inherit;
    box-shadow: inherit;
}
nav > a > #nav-logo{
	width: 6.5vw;
}
nav > #nav-info{
	color: rgb(35, 31, 32);
}
nav > #nav-info > h2{
	margin: 2vh 0 0 0;
	font-size: 2vw;
	font-weight: 800;
}
nav > #nav-info > h3{
	color: grey;
    margin: 1vh 0;
    font-size: 1.3vw;
    font-weight: 800;
}
nav > #nav-info > p{
	color: grey;
    margin: 3vh 0;
    font-size: 0.8vw;
    font-weight: 800;
}
nav > #nav-info > p#nav-date{
    font-size: 1vw;
    font-weight: 800;
    top: 18vh;
    right: 7vw;
	position: absolute;
    transform: rotateZ(-90deg);
}
nav > #nav-links{
	width: 100%;
    margin-top: 3vh;
	text-align: center;
	display: inline-block;
}
nav > #nav-links > ul{
	margin: auto;
    display: inline-block;
}
nav > #nav-links > ul > li{
	margin: 0 6.5vw;
}
nav > #nav-links > ul > li > a{
	color: grey;
    font-size: 1.1vw;
	font-weight: 800;
	transition: .3s ease;
}
nav > #nav-links > ul > li > a:hover{
	color: rgb(35, 31, 32);
	background: inherit;
	transition: .3s ease;
}


footer > #social-media{
	text-align: center;
    margin: 35vh auto 5vh;
    padding-top: 8vh;
    width: 45vw;
}
footer > #social-media > img{
	width: 5vw;
	margin-bottom: 2vh;
}
footer > #social-media > div > div > a{
	font-size: 1.5vw;
	font-weight: 800;
	color: #000;
	transition: .3s ease;
}
footer > #social-media > div > div > a:hover{
	color: grey;
	transition: .3s ease;
}
footer > #social-media > h6{
	font-size: 2.1vw;
	font-weight: 100;
	color: grey;
}

footer > #info{
	text-align: center;
    margin: auto;
    padding-top: 5vh;
    width: 80vw;
    border-top: 1px solid;
}
footer > #info > h5{
	color: grey;
    margin: 1vh 0;
    font-size: 1.3vw;
    font-weight: 800;
}
footer > #info > p{
	color: grey;
    margin: 3vh 0;
    font-size: 0.8vw;
    font-weight: 800;
}
footer > #info > h4{
	color: grey;
    margin: 10vh 0 0;
    font-size: 2vw;
    font-weight: 800;
}
footer > #info > h3{
	color: grey;
	margin: 0;
    font-size: 1.5vw;
}

footer > #links{
    width: 80vw;
	margin: 7vh auto 0;
	padding-bottom: 15vh;
}
footer > #links > .row{
	margin:0;
}
footer > #links > div > div > ul.link-list > .link-title{
	margin-bottom: 4vh;
}
footer > #links > div > div > ul.link-list > .link-title > a{
	color: grey;
	font-size: 1.3vw;
	font-weight: 800;
	transition: .3s ease;
}
footer > #links > div > div > ul.link-list > .link-title > a:hover{
	color: #000;
	transition: .3s ease;
}
footer > #links > div > div > ul.link-list > li > a{
	color: grey;
	font-size: 1.3vw;
	transition: .3s ease;
}
footer > #links > div > div > ul.link-list > li > a:hover{
	color: #000;
	transition: .3s ease;
}

footer.index{
	background: url(../images/index/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55vw;
    background-position-y: -20vh;
}
footer.servicio{
	background-color: rgb(35, 31, 32);
}
footer.servicio {
	color: #fff;
}
footer.servicio > #social-media > img{
	content: url(../images/corona-blanca.svg);
}
footer.servicio > #social-media > div > div > a,
footer.servicio > #social-media > h6,
footer.servicio > #info > h5,
footer.servicio > #info > h3,
footer.servicio > #info > p,
footer.servicio > #info > h4,
footer.servicio > #links > div > div > ul.link-list > .link-title > a,
footer.servicio > #links > div > div > ul.link-list > li > a{
	color: #fff;
}

footer.servicio > #social-media > div > div > a:hover,
footer.servicio > #links > div > div > ul.link-list > .link-title > a:hover,
footer.servicio > #links > div > div > ul.link-list > li > a:hover{
	color: red;
}

footer.servicio.steps > #social-media{
	margin-top: 0;
}

/*==========================*/
/*          INDEX           */
/*==========================*/

/*========= Main ===========*/
/*jumbotron section*/
section#jumbotron{
	margin: 2vh 0;
}
section#jumbotron > img{
	width: 100vw;
}
/*/jumbotron section*/

/*Como funciona section*/
section#comofunciona{
	text-align: center;
	margin: 20vh 0 0vh 0;
	padding-bottom: 20vh;
}
.comofunciona-paso{
	text-align: left;
}
.comofunciona-paso > *{
	display: inline-block;
}
#comofunciona > div > #comofunciona-title{
	padding-top: 11%;
    height: 75vh;
}
#comofunciona > div > #comofunciona-title > h4{
	font-weight: 800;
	font-size: 3vw;
}
#comofunciona > div > #comofunciona-info{
	margin-bottom: 10vh;
}
.comofunciona-paso > div.comofunciona-paso-n{
	position: absolute;
}
.comofunciona-paso > div.comofunciona-paso-n > p{
	margin: 0;
	font-size: 1vw;
	text-align: right;
	font-weight: 800;
}
.comofunciona-paso > div.comofunciona-paso-info{
    width: 24vw;
    margin-left: 5vw;
    margin-right: 7vw;
}
.comofunciona-paso > div.comofunciona-paso-info > h5{
	margin: 0;
	font-size: 2vw;
	font-weight: 800;
}
.comofunciona-paso > div.comofunciona-paso-info > p{
	margin: 0;
	font-weight: 500;
	font-size: 1.3vw;
}
.comofunciona-paso > div.comofunciona-paso-icono{
	position: absolute;
}
.comofunciona-paso > div.comofunciona-paso-icono > img{
	width: 3.5vw;
}
/*/Como funciona section*/

/*Descuentos Section*/
section#descuentos{
	padding-top: 20vh;
	text-align: center;
}
section#descuentos > h4{
	font-size: 2.5vw;
	font-weight: 800;
	margin-bottom: 13vh;
}
section#descuentos > div > #descuentos-title{
	float: left;
	width: 40%;
	text-align: right;
}
section#descuentos > div > #descuentos-title > h5{
	font-weight: 800;
	font-size: 1.6vw;
}
section#descuentos > div > .vertical-divider{
	width: 0.1vw;
    height: 15vh;
    position: absolute;
    margin-left: 50%;
    background: #000;
}
section#descuentos > div > #descuentos-descuentos{
	float: right;
	width: 40%;
	text-align: left;
}
section#descuentos > div > #descuentos-descuentos > h5{
	font-weight: 800;
	font-size: 1.6vw;
	margin: 0.3vw 0;
}
section#descuentos > div > #descuentos-descuentos > h5 > span{
	margin: 0 2vw;
}

section#descuentos > #descuentos_arma-tu-plan{
	width: 88vw;
	min-height: 66vh;
	margin: 20vh auto 0;
    padding: 6vh 3vw 0;
}
section#descuentos > #descuentos_arma-tu-plan > h5{
	padding-top: 20vh;
	display: inline-block;
	font-size: 3vw;
	left: 9vw;
    position: absolute;
	font-weight: 800;
	text-align: left;
}
section#descuentos > #descuentos_arma-tu-plan > #arma-tu-plan-planes{
	text-align: right;
    width: 68vw;
    margin-left: auto;
}
section#descuentos > #descuentos_arma-tu-plan > #arma-tu-plan-planes > .arma-tu-plan_plan{
    text-align: center;
    width: 11vw;
    margin: 0 1vw;
    display: inline-block;
}
section#descuentos > #descuentos_arma-tu-plan > #arma-tu-plan-planes > .arma-tu-plan_plan > .arma-tu-plan_plan-img > img{
	width: 100%;
}
section#descuentos > #descuentos_arma-tu-plan > #arma-tu-plan-planes > .arma-tu-plan_plan > .arma-tu-plan_plan-checkbox{
	margin: 10vh 0 0;
}

section#descuentos > #descuentos_subtotal{
    width: 88vw;
    margin: 7vh auto 0;
    padding: 0vh 3vw;
    height: 11vh;
    line-height: 12vh;
}
section#descuentos > #descuentos_subtotal > div > div > h5,
section#descuentos > #descuentos_subtotal > div > div > p{
	display: inline-block;
	font-weight: 500;
	margin: 0;
}
section#descuentos > #descuentos_subtotal > div > div > h5{
	font-weight: 800;
	font-size: 1.7vw;
}
section#descuentos > #descuentos_subtotal > div > div > p{
	font-weight: 800;
	font-size: 1.7vw;
}

section#descuentos > #descuentos_descuento{
    width: 88vw;
    margin: 7vh auto 0;
    padding: 0vh 3vw;
    height: 11vh;
    line-height: 12vh;
}
section#descuentos > #descuentos_descuento > div > div > h5,
section#descuentos > #descuentos_descuento > div > div > p{
	display: inline-block;
	font-weight: 500;
	margin: 0;
}
section#descuentos > #descuentos_descuento > div > div > h5{
	font-weight: 800;
	font-size: 2.5vw;
}
section#descuentos > #descuentos_descuento > div > div > h6{
	margin-top: 3.5vh;
	font-weight: 800;
	font-size: 1.7vw;
}
section#descuentos > #descuentos_descuento > div > div > p{
	font-weight: 800;
	font-size: 1.7vw;
}

section#descuentos > #descuentos_total{
    width: 88vw;
    margin: 7vh auto 0;
}
section#descuentos > #descuentos_total > #descuentos_descuento_lanzamiento{
    padding: 2vh 3vw 0;
    border-bottom: 0.2vh solid #000;
}
section#descuentos > #descuentos_total > #descuentos_descuento_lanzamiento > div > div > p{
	font-weight: 800;
	font-size: 1.3vw;
}
section#descuentos > #descuentos_total > #descuentos_descuento_lanzamiento > div > div > p > span{
	font-weight: normal;
    font-style: oblique;
}

section#descuentos > #descuentos_total > #total{
    padding: 2vh 3vw 0;
}
section#descuentos > #descuentos_total > #total > div > div > h5{
	font-weight: 800;
	font-size: 1.7vw;
    margin-top: 4vh;
}
section#descuentos > #descuentos_total > #total > div > div > p{
	font-weight: 800;
	font-size: 1.3vw;
	margin: 0;
}
section#descuentos > #descuentos_total > #total > div > div > p > span{
	font-size: 3vw;
}
section#descuentos > #descuentos_total > #total > div > div > p > span.ahorro{
	font-size: 1.5vw;
    font-weight: 300;
}
/*/Descuentos Section*/

/* Otras opciones Section*/
section#otras_opciones{
	padding-top: 20vh;
	text-align: center;
	width: 73vw;
    margin: auto;
}
section#otras_opciones > h4{
	font-size: 3vw;
	font-weight: 800;
}
section#otras_opciones > h5{
	font-size: 2vw;
	margin-bottom: 20vh;
}
section#otras_opciones > .row > .col.m6{
	padding: 0vh 2vw;
}
section#otras_opciones > .row > .col.m6 > .opcion{
	padding: 6vh 2vw;
	height: 70vh;
}
section#otras_opciones > .row > .col.m6 > .opcion > h5{
	font-size: 2vw;
	font-weight: 800;
    margin-bottom: 7vh;
}
section#otras_opciones > .row > .col.m6 > .opcion > img{
	width: 11vw;
}
section#otras_opciones > .row > .col.m6 > .opcion > .btn-custom{
	display: block;
    width: 12vw;
    font-size: 1.5vw;
    margin: 4vh auto;
}
section#otras_opciones > .row > .col.m6 > .opcion > h4{
	font-size: 2.2vw;
	font-weight: 800;
}
section#otras_opciones > .row > .col.m6 > .opcion-dos > img{
	width: 9vw;
    margin: 0 2vw;
}
section#otras_opciones > .row > .col.m6 > .opcion-dos > .btn-custom{
	margin: 7.5vh auto 4vh;
}
section#otras_opciones > .opcion-tres{
    margin: 20vh auto;
    padding: 6vh 2vw;
    min-height: 68vh;
    width: 50vw;
}
section#otras_opciones > .opcion-tres > h5{
	font-size: 2vw;
	font-weight: 800;
    margin-bottom: 7vh;
}
section#otras_opciones > .opcion-tres > img{
	width: 9vw;
    margin: 0 2vw;
}
section#otras_opciones > .opcion-tres > .btn-custom{
	display: block;
    width: 12vw;
    font-size: 1.5vw;
    margin: 4vh auto;
}
section#otras_opciones > .opcion-tres > h4{
	font-size: 2.2vw;
	font-weight: 800;
}

section#otras_opciones > #especifico > h5{
    font-size: 2vw;
}
section#otras_opciones > #especifico > h4{
    font-size: 3.5vw;
    font-weight: 800;
}
section#otras_opciones > #especifico > .btn-custom{
    display: block;
    width: 13vw;
    margin: 1vh auto;
    font-size: 1.5vw;
}
/*/Otras opciones Section*/
/*==========================*/
/*          STEPS           */
/*==========================*/

/*========= Step 1 =========*/
#steps{
	text-align: center;
	margin: 10vh auto;
	width: 40vw;
}
#steps > .step{
    width: 2.5vw;
    height: 5vh;
    line-height: 5vh;
	position: absolute;
    display: inline-block;
    font-weight: 500;
	color: #fff;
    background: grey;
}
#steps > .step.active{
	background: rgb(35, 31, 32);
}
#steps > .step.one{
	margin-left: -2.5vw;
}
#steps > .step.two{
	margin-left: -1.5vw;
}
#steps > .step-divider{
	display: inline-block;
	height: 2px;
	margin-top: 2.5vh;
	z-index: -1;
	width: 10vw;
	background: #000;
}
#steps > p{
	font-size: 1.5vw;
	font-weight: 500;
}

#form-paso-one{
	text-align: center;
    margin: 20vh auto 3vh;
    width: 90vw;
}
.paso-input{
	padding: 0 1vw !important;
	/*margin-top: 3vh;*/
}
.paso-input.more-margin > h5{
	margin-top: 15vh;
}
.paso-input > h5{
	color: rgb(35, 31, 32);
	font-size: 2.5vw;
	font-weight: 800;
	margin-top: 7vh;
}
.paso-input > p{
	color: rgb(35, 31, 32);
	font-size: 1.4vw;
	margin-top: 0;
	font-weight: 500;
}
.paso-input > input{
	width: 100% !important;
	text-align: center;
	border-bottom: 2px solid rgb(35, 31, 32) !important;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 grey;
    box-shadow: 0 1px 0 0 grey;
}
#form-paso-one > form > #paraquien{
	text-align: center;
	margin: 15vh 0;
}
#form-paso-one > form > #paraquien > h5{
	color: rgb(35, 31, 32);
	font-size: 2.5vw;
	font-weight: 800;
    margin-bottom: 10vh;
}
#form-paso-one > form > #paraquien > div > div{
	text-align: center;
}
#form-paso-one > form > #paraquien > div > div > img{
	height: 20vh;
}
#form-paso-one > form > #paraquien > div > div > p{
	font-weight: 400;
	font-size: 1.5vw;
}
#form-paso-one > form > #btns{
	margin: 25vh auto 0;
    width: 30vw;
}

.paso-inputs-checkboxes{
	margin-top: 4vh;
}
.paso-inputs-checkboxes > p{
	display: inline-block;
	margin: 0 1vw;
	font-weight: 500;
	font-size: 1.5vw;
}
.paso-inputs-checkboxes > input[type=text]{
	width: 20vw;
	height: 3vh;
	border-bottom: 2px solid rgb(35, 31, 32) !important; 
}

/*========= Step 2 =========*/
#form-paso-two{
	text-align: center;
    margin: 20vh auto 3vh;
    width: 90vw;
}
.paso-title > h5{
	color: rgb(35, 31, 32);
	font-size: 2.5vw;
	font-weight: 800;
	margin-top: 7vh;
}
.paso-title > p{
	color: rgb(35, 31, 32);
	font-size: 1.4vw;
	margin-top: 0;
	font-weight: 500;
}
#form-paso-two > form > #paso-two-articles{
	margin-top: 15vh;
}
#form-paso-two > form > #paso-two-articles > .row{
	margin-bottom: 5vh;
}
#form-paso-two > form > #paso-two-articles > div.row > div > .paso-two-article{
    padding-top: 3vh;
	width: 18vw;
    height: 65vh;
    margin: auto;
    color: rgb(35, 31, 32);
    text-align: center;
}
#form-paso-two > form > #paso-two-articles > div.row > div > .paso-two-article > img{
	width: auto;
    height: 25vh;
}
#form-paso-two > form > #paso-two-articles > div.row > div > .paso-two-article > h5{
	font-weight: 800;
	font-size: 1.7vw;
	margin-top: 8vh;
	margin-bottom: 0;
}
#form-paso-two > form > #paso-two-articles > div.row > div > .paso-two-article > a{
	color: rgb(35, 31, 32);
	font-size: 1.3vw;
	text-decoration: underline;
}
#form-paso-two > form > #paso-two-articles > div.row > div > .paso-two-article > p{
	font-weight: 600;
	font-size: 2vw;
	margin-bottom: 0;
	padding-bottom: 1vh;
	border-bottom: 1px solid;
}
#form-paso-two > form > #paso-two-articles > div.row > div > .paso-two-article > .cantidad{
	text-align: center;
}
#form-paso-two > form > #paso-two-articles > div.row > div > .paso-two-article > .cantidad > .signo{
	font-weight: 600;
	color: rgb(35, 31, 32);
	display: inline-block;
	border: 1px solid;
	border-radius: 50%;
	width: 2vw;
	height: 4vh;
	line-height: 3vh;
	font-size: 2vw;
}
#form-paso-two > form > #paso-two-articles > div.row > div > .paso-two-article > .cantidad > p{
	font-weight: 600;
	display: inline-block;
	margin: 1.5vh 1.5vw 0;
	font-size: 2vw;
}
#form-paso-two > form > #btns{
	margin: 25vh auto 0;
    width: 30vw;
}
.modal.paso_2{
	height: 70vh;
}
.modal.paso_2::-webkit-scrollbar {
    width: 9px;
}
.modal.paso_2::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(35, 31, 32);
}
.modal.paso_2::-webkit-scrollbar-track {
    background: rgba(0,0,0,.2);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.modal.paso_2 > .modal-content{
	width: 27vw;
    margin: auto;
}
.modal.paso_2 > .modal-content > h5{
	margin: 5vh 0 8vh;
	font-weight: 800;
	font-size: 2vw;
	font-family: 'Open sans'
}
.modal.paso_2 > .modal-footer > img{
	width: 5vw;
}

/*=================================*/
/*            SERVICIOS            */
/*=================================*/

/*======== Diseño =======*/
section#jumbotron.servicio.diseño{
	margin: 2vh auto 25vh;
	width: 50vw;
	text-align: center;
}
section#jumbotron.servicio.diseño > h2{
	margin: 13vh 0 0;
	font-size: 13vw;
	font-weight: 800;
}
section#jumbotron.servicio.diseño > h3{
	margin: 0 0 15vh;
	font-size: 3vw;
	font-weight: 100;
}
section#jumbotron.servicio.diseño > img{
	width: 40vw;
}
section#jumbotron.servicio.diseño > h4{
	margin: 0 0 5vh;
	font-size: 2.7vw;
	font-weight: 800;
}
section#jumbotron.servicio.diseño > a.btn-custom{
	display: block;
	width: 20vw;
	margin: auto;
}
section#jumbotron.servicio.diseño > p{
	margin: 3vh 0 0;
    font-size: 1.6vw;
    line-height: 3vh;
    font-weight: 500;
}

section#parallax{
    height: 65vh;
	text-align: center;
}
section#parallax > .parallax-container{
	padding: 6vh 8vw;
	height: 100%;
}
section#parallax > .parallax-container > .row > div.col.m4{
	color: #fff;
	padding: 0 5.2vw;
}
section#parallax > .parallax-container > .row > div > h5{
	font-size: 1.5vw;
	font-weight: 800;
	margin-bottom: 2vh;
}
section#parallax > .parallax-container > .row > div > p{
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 3vh;
    margin-bottom: 7vh;
}
section#parallax > .parallax-container > .row > div > img{
    width: 4vw;
}
section#parallax > .parallax-container > a.btn-custom{
	background-color: #fff;
    color: rgb(35, 31, 32);
    font-size: 2vw;
    display: block;
    margin: 6vh auto;
    width: 23vw;
    /*transition: .3s ease;*/
}
section#parallax > .parallax-container > a.btn-custom:hover{
	/*transition: .3s ease;*/
}

section#otras_opciones.servicio.diseño{
	text-align: center;
}
section#otras_opciones.servicio.diseño > h4{
	font-size: 2.7vw;
	font-weight: 800;
}
section#otras_opciones.servicio.diseño > p{
	margin-top: 0;
	margin-bottom: 13vh;
	font-weight: 500;
	font-size: 1.6vw;
    line-height: 3vh;
}
section#otras_opciones.servicio.diseño > #especifico > a.btn-custom{
    width: 53vw;
    font-size: 2vw;
}